# Entorno virtual
venv/
env/
ENV/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite
*.db
*.sqlite3
instance/uploads/
instance/backups/

# Archivos temporales
*.log
*.tmp

# VS Code
.vscode/

# Mac / Windows
.DS_Store
Thumbs.db

*.zip
